.container {
    width: inherit;
    display: flex;
    height: 3.5rem;
    padding: 0.3rem 1rem;
    background-color: black;
    align-items: center;
}

.link {
    text-decoration: none;
}

.logoContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 1em;
}

.logo {
    width: 3rem;
    height: 3rem;
    padding-right: 0.5rem;
}

.logoText {
    font-size: 1.8rem;
    font-weight: 600;
    color: white;
}

.searchForm {
    display: flex;
    flex-basis: 100%;
    margin: 0 1rem;
}

.searchInput {
    width: 100%;
    font-size: 1.2rem;
    outline: none;
}

.searchBtn {
    outline: none;
    background-color: rgb(56, 56, 56);
    color: white;
}

.btnImg {
    width: 1.5rem;
    height: 1.5rem;
}
