.app {
    max-width: 80rem;
}

.videoContainer {
    display: flex;
    padding: 1rem 0;
}

.videoDetail {
    flex: 1 1 70%;
}

.videoList {
    flex: 1 1 30%;
}

@media screen and (max-width: 70rem) {
    .videoContainer {
        flex-direction: column;
    }
}
